<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center header-desktop"
  [style]="showMenu ? 'display: flex' : 'display: none !important'">
  <div class="container d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center me-auto me-lg-0" (click)="setAbaAtiva(0)">
      <img src="assets/img/logo.png">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <div *ngFor="let item of itensMenu; let i = index">
          <li *ngIf="item.ativo">
            <a (click)="setAbaAtiva(i)" [routerLink]="item.rota" [ngClass]="item.focado ? 'active show' : ''">
              {{ item.titulo }}
            </a>
          </li>
        </div>
      </ul>
    </nav>

  </div>
</header>
<!-- ======= End Header ======= -->

<header id="header" class="header fixed-top d-flex align-items-center header-mobile"
  [style]="showMenu ? 'display: flex' : 'display: none !important'">
  <div class="container d-flex align-items-center justify-content-center" data-backdrop="static">

    <a routerLink="/" class="logo d-flex align-items-center me-auto me-lg-0">
      <img src="assets/img/logo.png">
    </a>

    <button type="button" (click)="isClicado = !isClicado"
      [ngClass]="!isClicado ? 'mobile-nav-toggle mobile-nav-show bi bi-list' : 'mobile-nav-toggle mobile-nav-show bi bi-x'"
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"></button>

    <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="static" id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header mb-5">
      </div>
      <div class="offcanvas-body">
        <ul>
          <div *ngFor="let item of itensMenu; let i = index">
            <li *ngIf="item.ativo">
              <a (click)="setAbaAtiva(i)" [routerLink]="item.rota" [ngClass]="item.focado ? 'active show' : ''">
                <i [class]="item.icone"></i> {{ item.titulo }}
              </a>
            </li>
          </div>
        </ul>
      </div>
      <div class="offcanvas-footer text-center">
        <hr>
        <h4 class="mb-3">Siga-nos</h4>
        <div class="social-links">
          <a href="https://www.instagram.com/palmasmetodista/?hl=pt-br" target="_blank" class="instagram"><i
              class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/@palmasmetodista" target="_blank" class="youtube"><i
              class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div>

  </div>
</header>
