<div *ngIf="exibirModal && modal" class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div [class]="modal.isTelaInteira ? 'modal-content modal-tela-cheia' : 'modal-content modal-metade-tela'">
      <div class="modal-header">
        <h3 class="modal-title">{{ modal.titulo }}</h3>
      </div>
      <div class="modal-body">
        <!-- TODO: colocar Imagem -->
        <img *ngIf="modal.imagem && !modal.isMetadeTela" [src]="modal.imagem" class="img img-fluid">
        <h5 class="modal-title">{{ modal.texto }}</h5>
      </div>
      <div [class]="modal.isTelaInteira ? 'modal-footer modal-footer-tela-cheia' : 'modal-footer modal-footer-metade-tela'">
        <button type="button" class="btn btn-primary" (click)="botao()">{{ modal.textoBotao }}</button>
        <button *ngIf="modal.textoSegundoBotao" type="button" class="btn btn-outline-primary"
          (click)="segundoBotao()">{{ modal.textoSegundoBotao }}</button>
      </div>
    </div>
  </div>
</div>
