.img {
  width: 20%;
  max-height: 200px;
  opacity: 0.7;
}

.divImg {
  height: 200px;
}


@media screen and (max-width: 480px) {
  .img {
    width: 60%;
    max-height: 200px;
    opacity: 0.7;
  }

  .divImg {
    height: 200px;
  }
}
