<section class="vh-100">
  <div class="container py-5 h-100" *ngIf="!loading">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-6">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <div class="d-flex align-items-center mb-3 pb-1">
                  <span class="h1 fw-bold mb-0 text-center">Login</span>
                </div>

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Entre com seu login para abrir seu diário
                </h5>

                <div class="form-outline mb-4">
                  <h5 class="form-label" for="form2Example17">E-mail</h5>
                  <input type="email" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="email" />
                  <div *ngIf="errorsValidators">
                    <div *ngFor="let erro of errorsValidators">
                      <p class="label-error" *ngIf="erro.controleErro === 'email'">{{erro.mensagemErro}}</p>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <h5 class="form-label" for="form2Example27">Senha</h5>
                  <input type="password" id="form2Example27" class="form-control form-control-lg" [(ngModel)]="senha" />
                  <div *ngIf="errorsValidators">
                    <div *ngFor="let erro of errorsValidators">
                      <p class="label-error" *ngIf="erro.controleErro === 'senha'">{{erro.mensagemErro}}</p>
                    </div>
                  </div>
                </div>

                <div *ngFor="let erro of errorsValidators">
                  <p class="label-error" *ngIf="erro.controleErro === 'login'">{{erro.mensagemErro}}</p>
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" type="button" style="min-width: 50%;"
                    (click)="entrar()">Login <i class="fa fa-sign-in ml-3"></i></button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading">
    <app-loadder></app-loadder>
  </div>
</section>
